p {
	font-family: "Times New Roman";
	color: black;	
}
H1 {
	font-family: "Comic Sans MS";
	color: black;
}
H2 {
	font-family: "Tahoma";
	color: black;
}
H3 {
	font-family: "Sans Serif";
	color: black;
}
H4 {
	font-family: "Courier";
	color: black;
}

