/* CSS sidebar stylesheet */
/* For the sidebar (left) */
/* Rule count: 5 */
body { /* Rule 1 */
	margin: 0;
} /* End of rule 1 */
ul { /* Rule 2 */
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 16%;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
} /* End of rule 2 */
li a { /* Rule 3 */
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
} /* End of rule 3 */
li a.active { /* Rule 4 */
	background-color: #4CAF50;
	color: white;
} /* End of rule 4 */
li a:hover:not(.active) { /* Rule 5 */
	background-color: #555;
	color: white;
} /* End of rule 5 */
/* Origin: CSSSidebarSectionV1.css - November 25th 2019 */
/* Stylesheet version: 2 (February 15th 2020) */

