/* Start of stylesheet */
/* ABOUT
This stylesheet is a reference to the common 140 HTML colors. This applies it to a text section of a master HTML test reference
*/
/* Colors 1-10 */
color001 { /* Color 1 */
  color: AliceBlue;
  font-size: 60px;
}
color002 { /* Color 2 */
  color: AntiqueWhite;
  font-size: 60px;
}
color003 { /* Color 3 */
  color: Aqua;
  font-size: 60px;
}
color004 { /* Color 4 */
  color: Aquamarine;
  font-size: 60px;
}
color005 { /* Color 5 */
  color: Azure;
  font-size: 60px;
}
color006 { /* Color 6 */
  color: Beige;
  font-size: 60px;
}
color007 { /* Color 7 */
  color: Bisque;
  font-size: 60px;
}
color008 { /* Color 8 */
  color: Black;
  font-size: 60px;
}
color009 { /* Color 9 */
  color: BlanchedAlmond;
  font-size: 60px;
}
color010 { /* Color 10 */
  color: Blue;
  font-size: 60px;
}
/* ===========
Colors 11-20 | 
============*/
color011 { /* Color 11 */
  color: BlueViolet;
  font-size: 60px;
}
color012 { /* Color 12 */
  color: Brown;
  font-size: 60px;
}
color013 { /* Color 13 */
  color: BurlyWood;
  font-size: 60px;
}
color014 { /* Color 14 */
  color: CadetBlue;
  font-size: 60px;
}
color015 { /* Color 15 */
  color: Chartreuse;
  font-size: 60px;
}
color016 { /* Color 16 */
  color: Chocolate;
  font-size: 60px;
}
color017 { /* Color 17 */
  color: Coral;
  font-size: 60px;
}
color018 { /* Color 18 */
  color: CornflowerBlue;
  font-size: 60px;
}
color019 { /* Color 19 */
  color: Cornsilk;
  font-size: 60px;
}
color020 { /* Color 20 */
  color: Crimson;
  font-size: 60px;
}
/* ===========
Colors 21-30 | 
============*/
color021 { /* Color 21 */
  color: Cyan;
  font-size: 60px;
}
color022 { /* Color 22 */
  color: DarkBlue;
  font-size: 60px;
}
color023 { /* Color 23 */
  color: DarkCyan;
  font-size: 60px;
}
color024 { /* Color 24 */
  color: DarkGoldenRod;
  font-size: 60px;
}
color025 { /* Color 25 */
  color: DarkGrey; /* also works as DarkGray */
  font-size: 60px;
}
color026 { /* Color 26 */
  color: DarkGreen;
  font-size: 60px;
}
color027 { /* Color 27 */
  color: DarkKhaki;
  font-size: 60px;
}
color028 { /* Color 28 */
  color: DarkMagenta;
  font-size: 60px;
}
color029 { /* Color 29 */
  color: DarkOliveGreen;
  font-size: 60px;
}
color030 { /* Color 30 */
  color: DarkOrange;
  font-size: 60px;
}
/* ===========
Colors 31-40 | 
============*/
color031 { /* Color 31 */
  color: DarkOrchid;
  font-size: 60px;
}
color032 { /* Color 32 */
  color: DarkRed;
  font-size: 60px;
}
color033 { /* Color 32 */
  color: DarkSalmon;
  font-size: 60px;
}
color034 { /* Color 34 */
  color: DarkSeaGreen;
  font-size: 60px;
}
color035 { /* Color 35 */
  color: DarkSlateBlue;
  font-size: 60px;
}
color036 { /* Color 36 */
  color: DarkSlateGrey; /* Also works as DarkSlateGray */
  font-size: 60px;
}
color037 { /* Color 37 */
  color: DarkTurquoise;
  font-size: 60px;
}
color038 { /* Color 38 */
  color: DarkViolet;
  font-size: 60px;
}
color039 { /* Color 39 */
  color: DeepPink;
  font-size: 60px;
}
color040 { /* Color 40 */
  color: DeepSkyBlue;
  font-size: 60px;
}
/* ===========
Colors 41-50 | 
============*/
color041 { /* Color 41 */
  color: DimGray;
  font-size: 60px;
}
color042 { /* Color 42 */
  color: DodgerBlue;
  font-size: 60px;
}
color043 { /* Color 43 */
  color: FireBrick;
  font-size: 60px;
}
color044 { /* Color 44 */
  color: FloralWhite;
  font-size: 60px;
}
color045 { /* Color 45 */
  color: ForestGreen;
  font-size: 60px;
}
color046 { /* Color 46 */
  color: Fuchsia;
  font-size: 60px;
}
color047 { /* Color 47 */
  color: Gainsboro;
  font-size: 60px;
}
color048 { /* Color 48 */
  color: GhostWhite;
  font-size: 60px;
}
color049 { /* Color 49 */
  color: Gold;
  font-size: 60px;
}
color050 { /* Color 50 */
  color: GoldenRod;
  font-size: 60px;
}
/* ===========
Colors 51-60 | 
============*/
color051 { /* Color 51 */
  color: Grey;
  font-size: 60px;
}
color052 { /* Color 52 */
  color: Green;
  font-size: 60px;
}
color053 { /* Color 53 */
  color: GreenYellow;
  font-size: 60px;
}
color054 { /* Color 54 */
  color: HoneyDew;
  font-size: 60px;
}
color055 { /* Color 55 */
  color: HotPink;
  font-size: 60px;
}
color056 { /* Color 56 */
  color: IndianRed;
  font-size: 60px;
}
color057 { /* Color 57 */
  color: Indigo;
  font-size: 60px;
}
color058 { /* Color 58 */
  color: Ivory;
  font-size: 60px;
}
color059 { /* Color 59 */
  color: Khaki;
  font-size: 60px;
}
color060 { /* Color 60 */
  color: Lavender;
  font-size: 60px;
}
/* ===========
Colors 61-70 | 
============*/
color061 { /* Color 61 */
  color: LavenderBlush;
  font-size: 60px;
}
color062 { /* Color 62 */
  color: LawnGreen;
  font-size: 60px;
}
color063 { /* Color 63 */
  color: LemonChiffon;
  font-size: 60px;
}
color064 { /* Color 64 */
  color: LightBlue;
  font-size: 60px;
}
color065 { /* Color 65 */
  color: LightCoral;
  font-size: 60px;
}
color066 { /* Color 66 */
  color: LightCyan;
  font-size: 60px;
}
color067 { /* Color 67 */
  color: LightGoldenRodYellow;
  font-size: 60px;
}
color068 { /* Color 68 */
  color: LightGrey;
  font-size: 60px;
}
color069 { /* Color 69 */
  color: LightGreen;
  font-size: 60px;
}
color070 { /* Color 70 */
  color: LightPink;
  font-size: 60px;
}
/* ===========
Colors 71-80 | 
============*/
color071 { /* Color 71 */
  color: LightSalmon;
  font-size: 60px;
}
color072 { /* Color 72 */
  color: LightSeaGreen;
  font-size: 60px;
}
color073 { /* Color 73 */
  color: LightSkyBlue;
  font-size: 60px;
}
color074 { /* Color 74 */
  color: LightSlateGrey;
  font-size: 60px;
}
color075 { /* Color 75 */
  color: LightSteelBlue;
  font-size: 60px;
}
color076 { /* Color 76 */
  color: LightYellow;
  font-size: 60px;
}
color077 { /* Color 77 */
  color: Lime;
  font-size: 60px;
}
color078 { /* Color 78 */
  color: LimeGreen;
  font-size: 60px;
}
color079 { /* Color 79 */
  color: Linen;
  font-size: 60px;
}
color080 { /* Color 80 */
  color: Magenta;
  font-size: 60px;
}
/* ===========
Colors 81-90 | 
============*/
color081 { /* Color 81 */
  color: Maroon;
  font-size: 60px;
}
color082 { /* Color 82 */
  color: MediumAquaMarine;
  font-size: 60px;
}
color083 { /* Color 83 */
  color: MediumBlue;
  font-size: 60px;
}
color084 { /* Color 84 */
  color: MediumOrchid;
  font-size: 60px;
}
color085 { /* Color 85 */
  color: MediumPurple;
  font-size: 60px;
}
color086 { /* Color 86 */
  color: MediumSeaGreen;
  font-size: 60px;
}
color087 { /* Color 87 */
  color: MediumSlateBlue;
  font-size: 60px;
}
color088 { /* Color 88 */
  color: MediumSpringGreen;
  font-size: 60px;
}
color089 { /* Color 89 */
  color: MediumTurquoise;
  font-size: 60px;
}
color090 { /* Color 90 */
  color: MediumVioletRed;
  font-size: 60px;
}
/* ===========
Colors 91-100 | 
============*/
color091 { /* Color 91 */
  color: MidnightBlue;
  font-size: 60px;
}
color092 { /* Color 92 */
  color: MintCream;
  font-size: 60px;
}
color093 { /* Color 93 */
  color: MistyRose;
  font-size: 60px;
}
color094 { /* Color 94 */
  color: Moccasin;
  font-size: 60px;
}
color095 { /* Color 95 */
  color: NavajoWhite;
  font-size: 60px;
}
color096 { /* Color 96 */
  color: Navy;
  font-size: 60px;
}
color097 { /* Color 97 */
  color: OldLace;
  font-size: 60px;
}
color098 { /* Color 98 */
  color: Olive;
  font-size: 60px;
}
color099 { /* Color 99 */
  color: OliveDrab;
  font-size: 60px;
}
color100 { /* Color 100 */
  color: Orange;
  font-size: 60px;
}
/* ===========
Colors 101-110 | 
============*/
color101 { /* Color 101 */
  color: OrangeRed;
  font-size: 60px;
}
color102 { /* Color 102 */
  color: Orchid;
  font-size: 60px;
}
color103 { /* Color 103 */
  color: PaleGoldenRod;
  font-size: 60px;
}
color104 { /* Color 104 */
  color: PaleGreen;
  font-size: 60px;
}
color105 { /* Color 105 */
  color: PaleTurquoise;
  font-size: 60px;
}
color106 { /* Color 106 */
  color: PaleVioletRed;
  font-size: 60px;
}
color107 { /* Color 107 */
  color: PapayaWhip;
  font-size: 60px;
}
color108 { /* Color 108 */
  color: PeachPuff;
  font-size: 60px;
}
color109 { /* Color 109 */
  color: Peru;
  font-size: 60px;
}
color110 { /* Color 110 */
  color: Pink;
  font-size: 60px;
}
/* ===========
Colors 111-120 | 
============*/
color111 { /* Color 111 */
  color: Plum;
  font-size: 60px;
}
color112 { /* Color 112 */
  color: PowderBlue;
  font-size: 60px;
}
color113 { /* Color 113 */
  color: Purple;
  font-size: 60px;
}
color114 { /* Color 114 */
  color: RebeccaPurple;
  font-size: 60px;
}
color115 { /* Color 115 */
  color: Red;
  font-size: 60px;
}
color116 { /* Color 116 */
  color: RosyBrown;
  font-size: 60px;
}
color117 { /* Color 117 */
  color: RoyalBlue;
  font-size: 60px;
}
color118 { /* Color 118 */
  color: SaddleBrown;
  font-size: 60px;
}
color119 { /* Color 119 */
  color: Salmon;
  font-size: 60px;
}
color120 { /* Color 120 */
  color: SandyBrown;
  font-size: 60px;
}
/* ===========
Colors 121-130 | 
============*/
color121 { /* Color 121 */
  color: SeaGreem;
  font-size: 60px;
}
color122 { /* Color 122 */
  color: SeaShell;
  font-size: 60px;
}
color123 { /* Color 123 */
  color: Sienna;
  font-size: 60px;
}
color124 { /* Color 124 */
  color: Silver;
  font-size: 60px;
}
color125 { /* Color 125 */
  color: SkyBlue;
  font-size: 60px;
}
color126 { /* Color 126 */
  color: SlateBlue;
  font-size: 60px;
}
color127 { /* Color 127 */
  color: SlateGrey;
  font-size: 60px;
}
color128 { /* Color 128 */
  color: Snow;
  font-size: 60px;
}
color129 { /* Color 129 */
  color: SpringGreen;
  font-size: 60px;
}
color130 { /* Color 130 */
  color: SteelBlue;
  font-size: 60px;
}
/* ===========
Colors 131-141 | 
============*/
color131 { /* Color 131 */
  color: Tan;
  font-size: 60px;
}
color132 { /* Color 132 */
  color: Teal;
  font-size: 60px;
}
color133 { /* Color 133 */
  color: Thistle;
  font-size: 60px;
}
color134 { /* Color 134 */
  color: Tomato;
  font-size: 60px;
}
color135 { /* Color 135 */
  color: Turquoise;
  font-size: 60px;
}
color136 { /* Color 136 */
  color: Violet;
  font-size: 60px;
}
color137 { /* Color 137 */
  color: Wheat;
  font-size: 60px;
}
color138 { /* Color 138 */
  color: White;
  font-size: 60px;
}
color139 { /* Color 139 */
  color: WhiteSmoke;
  font-size: 60px;
}
color140 { /* Color 140 */
  color: Yellow;
  font-size: 60px;
}
color141 { /* Color 141 */
  color: YellowGreen;
  font-size: 60px;
}
/* apparently there are 141 colors, not 140 */
/* End of stylesheet */

