p {
	color: black;
}
i {
	color: black;
}
u {
	color: black;
}
s {
	color: black;
}
H1 {
	color: black;
}
H2 {
	color: black;
}
H3 {
	color: black;
}
H4 {
	color: black;
}
H5 {
	color: black;
}
H6 {
	color: black;
}
HR {
	color: black;
}
details {
	color: black;
}
a {
	color: blue;
}

